.messages-container {
  display: flex;
  flex-direction: row;
}

.msg-contacts-container {
  background-color: var(--grey);
  min-width: 250px;
  height: calc(100vh - var(--navbar-height));
}

.msg-conversation-container {
  background-color: var(--bg-white);
  width: 100%;
  height: calc(100vh - var(--navbar-height));
}

@media screen and (max-width: 580px) {
  .msg-contacts-container {
    position: absolute;
    width: 100%;
    top: -100%;
    opacity: 0;
    transition: all 0.4s ease;
  }

  .msg-contacts-container.active {
    top: var(--navbar-height);
    opacity: 1;
  }
}
