.settings-page {
  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--navbar-height));
}

.settings-pages {
  display: inline;
  width: 100%;
  overflow: scroll;
  box-shadow: 0 0 1pt 1pt var(--bg-grey);
}

.settings-navigation {
  background-color: var(--grey);
  min-width: 250px;
  height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.settings-nav-container {
  width: 100%;
}

.settings-nav-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.settings-nav-item {
  line-height: 4rem;
  text-align: center;
}

.settings-nav-links {
  color: var(--black);
  text-decoration: none;
  display: table;
  width: 100%;
  transition: background-color 0.2s ease;
}

.settings-nav-links:hover {
  background-color: var(--bg-grey);
}

.settings-active {
  background-color: var(--dark-blue);
  color: var(--bg-white);
}

