:root {
  --bg-white: rgba(240, 240, 240, 1);
  --blue: #0087a8;
  --dark-blue: #005b72;
  --bg-grey: hsla(192, 17%, 60%, 0.52);
  --black: #242424;

  --navbar-height: 60px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}