.profile-container {
  width: 100%;
  height: calc(100vh - var(--navbar-height));
}

.image-name-and-categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-image: linear-gradient(var(--dark-blue), var(--bg-white));
}

.image-name-and-categories-container>* {
  margin: 3px 0;
}

.image-name-and-categories-container>h1 {
  font-size: var(--big-title-font-size);
  text-shadow: 1pt 1pt 2pt var(--dark-blue);
  color: var(--dark-blue);
}

.image-name-and-categories-container>p {
  color: var(--dark-blue);
  font-size: 1.1em;
}

.profile-content-container {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.profile-content-container>* {
  width: 100%;
}

.users-or-groups-container {
  width: fit-content;
}

.small-card-container {
  margin: 10px;
}

.about-container {
  font-weight: var(--text-font-weight);
}

.contact-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 0 20px;
}

@media screen and (max-width: 960px) {
  .profile-content-container {
    flex-direction: column;
  }
  .users-or-groups-container>* {
    display: flex;
    overflow-x: scroll;
    max-width: 100vw;
  }
}