.job-page {
  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--navbar-height));
}

.job-pages {
  display: inline;
  width: 100%;
  overflow: scroll;
  box-shadow: 0 0 1pt 1pt var(--bg-grey);
}

.job-navigation {
  background-color: var(--grey);
  min-width: 250px;
  height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: var(--text-font-weight);
}

.job-nav-container {
  width: 100%;
}

.job-nav-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.job-nav-item {
  line-height: 4rem;
  text-align: center;
}

.job-nav-links {
  color: var(--black);
  text-decoration: none;
  display: table;
  width: 100%;
  transition: background-color 0.2s ease;
}

.job-nav-links:hover {
  background-color: var(--bg-grey);
}

.job-active {
  background-color: var(--dark-blue);
  color: var(--bg-white);
}

/* Jobads page
  |
  |
  V 
*/

.jobads-container {
  opacity: 0.1;
  transition: opacity 0.5s ease;
}

.jobads-container.active {
  opacity: 1;
}

.job-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 0.5rem;
  /* padding: 10px; */
  border: 1px solid var(--bg-grey);
  box-shadow: 0 0 10pt 1pt var(--bg-grey);
  border-radius: 10px;
  background-color: white;
  font-size: 1.3rem;
  padding: 10px;
  display: flex;
  flex-direction: row;
  transition: transform .2s;
  width: 90%;
  max-width: 900px;
}

.card:hover {
  transform: scale(1.025);
}

.general-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image-and-name-container {
  height: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.jobad-user-profile-image {
  width: 70px;
  height: 70px;
  min-width: 70px;
  min-height: 70px;
  box-shadow: 0 0 1pt 1pt var(--bg-grey);
  border-radius: 100%;
  object-fit: cover;
  margin: 10px;
  z-index: 1;
}

.details-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.details-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--bg-grey);
}

.details-value {
  color: black;
}

.buttons-container {
  min-width: 200px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* JOBINFO */

.job-details-container {
  position: fixed;
  left: 100%;
  width: calc(100% - 250px);
  height: calc(100vh - var(--navbar-height));
  z-index: 10;
  transition: left 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-details-container.active {
  left: 250px;
}

.job-details-content {
  width: 95%;
  height: 95%;
  background-color: white;
  box-shadow: 0 0 10pt 1pt var(--bg-grey);
  border-radius: 5px;
}

@media screen and (max-width: 960px) {
  .job-page {
    flex-direction: column;
  }
  .job-pages {
    height: calc(100vh - var(--navbar-height) - 60px);
  }
  .job-navigation {
    height: 60px;
    width: 100%;
    min-width: 320px;
    font-size: 1.3rem;
    font-weight: 400;
  }
  .job-nav-menu {
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .job-nav-item {
    width: 100%;
    min-width: 200px;
    height: 100%;
    border-right: 1px solid var(--bg-grey);
  }
  .job-nav-links {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    flex-direction: column;
  }
  .buttons-container {
    flex-direction: row;
  }
  .job-details-container {
    height: calc(100vh - var(--navbar-height) - 60px);
    width: 100vw;
  }
  .job-details-container.active {
    left: 0;
  }
}