.home-page-navigation {
  width: 100vw;
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.home-page-navigation-links {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-navigation-link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
}

.sign-link {
  background-color: var(--bg-grey);
  border-radius: 3px;
  box-shadow: 0pt 0pt 1pt 1pt var(--grey);
}

.scroll-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.scroll-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  scroll-snap-align: start;
  color: white;
}

.title-section {
  background-image: url('../../../images/beard-musician-guitar-acoustic.jpeg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.title-container {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.title {
  color: var(--bg-white);
  text-shadow: 2pt 2pt 5pt var(--dark-blue);
  font-size: 4em;
  font-weight: 250;
}

.about-section {
  background-image: linear-gradient(orange, var(--red));
}

.features-section {
  background-image: linear-gradient(var(--dark-blue), var(--blue));
}

.footer-section {
  background-image: linear-gradient(gray, black);
}

@media screen and (max-width: 850px) {
  .title-section {
    background-position: right;
  }
  .title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 470px) {
  .home-page-scroll-links {
    background-color: black;
    display: none;
  }
  .home-page-navigation-links {
    width: 100%;
    justify-content: flex-end;
  }
}