.home-page-navigation-container {
  height: var(--navbar-height);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: tomato;
}

.home-page-image-container {
  width: 100vw;
}

.home-page-image {
  width: 100vw;
  height: 100vh;
}