.msg-navigation {
  /* position: absolute; */
  background-color: var(--grey);
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 300;
  /* Positive z-index makes navbar stay top. E.g. not behind text */
}

.msg-nav-container {
  width: 100%;
}

.messages-filter-container {
  padding: 5px;
}

.msg-nav-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.msg-nav-item {
  line-height: 4rem;
  text-align: center;
  overflow: hidden;
  border-top: 1px solid var(--bg-grey);
  border-bottom: 1px solid var(--bg-grey);
}

.msg-nav-links {
  color: var(--black);
  text-decoration: none;
  display: table;
  width: 100%;
  transition: background-color 0.2s ease;
}

.msg-nav-links:hover {
  background-color: var(--bg-grey);
}

.msg-active {
  background-color: var(--dark-blue);
  color: var(--bg-white);
}

.has-unread-messages {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

/* 
@media screen and (max-width: 580px) { 
  .msg-navigation {
    border-radius: 5px;
    box-shadow: 0 0 1pt 1pt var(--grey);
  }

} */