.messages-container {
  display: flex;
  flex-direction: row;
}

.msg-contacts-container {
  background-color: var(--bg-grey);
  min-width: 250px;
  height: calc(100vh - var(--navbar-height));
}

.msg-conversation-container {
  background-color: var(--bg-white);
  width: 100%;
  height: calc(100vh - var(--navbar-height));
}

@media screen and (max-width: 960px) {
  .msg-contacts-container {
    width: 100%;
  }


}