:root {
  --bg-white: rgba(240, 240, 240, 1);
  --blue: #0087a8;
  --dark-blue: #005b72;
  --grey: hsla(192, 17%, 60%, 0.52);
  --dark-grey: #1e2729;
  --black: #242424;
  --navbar-height: 70px;
}

.messages-container {
  display: flex;
  flex-direction: row;
}

.msg-contacts-container {
  background-color: var(--grey);
  min-width: 250px;
  height: calc(100vh - var(--navbar-height));
}

.msg-conversation-container {
  background-color: var(--bg-white);
  width: 100%;
  height: calc(100vh - var(--navbar-height));
}

@media screen and (max-width: 960px) {
  .msg-contacts-container {
    width: 100%;
  }


}