.profile-edit-master-container {
  height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-edit-current-view {
  height: 100%;
  background-color: antiquewhite;
}

.profile-edit-switch-view-buttons-container {
  height: 50px;
  background-color: tomato;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}