.profiles-page-container {
  height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
}

.profiles-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: scroll;
  flex-flow: row wrap;
}

.profile-container {
  width: 250px;
  height: 350px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10pt 1pt var(--bg-grey);
  display: flex;
  flex-direction: column;
  margin: 20px;
  transition: transform .2s;
}

.profiles-title-and-searchbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.profiles-searchbar-container {
  width: 30%;
}

.profile-container:hover {
  transform: scale(1.025);
}

.upper-container {
  width: 100%;
  height: 50%;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  padding-top: 15px;
}

.lower-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.name-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-name {
  font-size: 2em;
}

.profiles-buttons-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profiles-button {
  margin: 10px;
  padding: 10px;
  color: var(--black);
  border-style: none;
  border-radius: 5px;
  width: 100%; 
}

.to-profile-button {
  background-color: var(--blue);
  cursor: pointer;
}
.profiles-contact-button {
  background-color: #42b371;
  cursor: pointer;
}
.disabled-button {
  background-color: lightsteelblue;
}

@media screen and (max-width: 960px) {
  .profiles-title-and-searchbar-container {
    flex-direction: column;
    justify-content: center;
  }
  .profiles-searchbar-container {
    width: 100%;
    max-width: 350px;
  }

}