.profiles-page-container {
  height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
}


.profiles-title-and-searchbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.profiles-searchbar-container {
  width: 30%;
}

.profiles-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: scroll;
  flex-flow: row wrap;
}

.profile-container {
  margin: 20px;
}

@media screen and (max-width: 960px) {
  .profiles-title-and-searchbar-container {
    flex-direction: column;
    justify-content: center;
  }
  .profiles-searchbar-container {
    width: 100%;
    max-width: 350px;
  }
}