.create-group-form-container {
  width: 100vw;
  height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
}

.create-group-current-view {
  height: 100%;
}

.create-group-switch-view-buttons-container {
  height: 75px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* USER SELECTION */

.user-selection-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.small-profile-card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  border-radius: 5px;
}

.selected-users-container {
  margin: 10px;
  border: 1px solid var(--grey);
  border-radius: 5px;
  height: 170px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.selected-user {
  position: relative;
  margin: 20px;
  height: fit-content;
}

.selected-user-overlay {
  background-color: var(--red);
}

.selected-user:hover .selected-user-overlay {
  opacity: 0.95;
  cursor: pointer;
}

.all-users-searchbar-container {
  display: flex;
  justify-content: center;
}

.all-users-searchbar-container > * {
  width: 90%;
  max-width: 300px;
}

.all-users-container {
  display: flex;
  justify-content: center;
  overflow: scroll;
  flex-flow: row wrap;
  height: 100%;
}

.all-user-container {
  position: relative;
  margin: 20px;
  height: fit-content;
}

.all-user-overlay {
  background-color: var(--blue);
}

.all-user-container:hover .all-user-overlay {
  opacity: 0.95;
  cursor: pointer;
}

/* CATEGORIES SELECTION */

.category-selection-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAME AND IMAGE */

.group-name-input {
  border: none;
  box-shadow: 0 0 3pt 1pt var(--grey);
  padding: 5px;
  border-radius: 5px;
  font-family: var(--font-family);
  text-align: center;
}

.group-name-input:focus {
  outline: none;
}

/* ABOUT */

.group-about-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.group-about-container textarea {
  width: 90vw;
  height: 70vh;
  max-width: 400px;
  max-height: 500px;
}