.dropdown {
  background-color: var(--grey);
  position: absolute;
  width: 300px;
  height: 450px;
  top: -500px;
  right: 0;
  overflow: scroll;
  border-radius: 10px;
  box-shadow: 0 0 1pt 1pt var(--bg-grey);
  opacity: 0;
  transition: top 0.4s ease, opacity 0.4s ease;
}

.dropdown.active {
  top: calc(var(--navbar-height) - 5px);
  opacity: 1;
}

.dropdown-profile {
  padding: 10px;
  transition: background-color 0.2s ease;
}

.dropdown-profile:hover {
  background-color: var(--bg-grey);
  border-radius: 10px 10px 0 0;
}

.profile-name {
  font-size: 2em;
  color: var(--black);
  font-weight: 300;
}

.secondary-text {
  color: var(--bg-grey)
}

.dropdown-link {
  color: var(--black);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}

.dropdown-link:hover {
  background-color: var(--bg-grey);
  cursor: pointer;
}

.profile-switch-profile-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-switch-profile-link  > * {
  width: 100%;
}

.notifications-title {
  font-size: 2em;
  color: var(--black);
  font-weight: 300;
  padding: 10px 0;
}

.profile-switch-options {
  border: 1px solid var(--bg-grey);
  border-radius: 10px;
}

.notification-container {
  min-height: 50px;
  padding: 10px 0;
  border-top: 1px solid var(--bg-grey);
  transition: background-color 0.2s ease;
}
.notification-container:hover {
  background-color: var(--bg-grey);
}

@media screen and (max-width: 580px) {
  .dropdown {
    background-color: var(--grey);
    position: absolute;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    top: -100vh;
    transform: scale(0.97);
  }

  .dropdown.active {
    top: calc(var(--navbar-height) - 5px);
    opacity: 1;
  }
  
}
